# VMware
*.vmdk
*.vmem
*.vmss
*.vmsn
*.nvram
*.vmx
*.vmxf
*.lck

# Images VM
*.iso
*.img
*.ova
*.ovf

# Temporaires
*.log
*.tmp
*.bkp
*.dtmp
~$*
.$*

# Secrets
.env
*.key
*.pem
secrets/
credentials/

# Captures réseau
*.pcap
*.pcapng
pcaps/

# Archives
*.zip
*.7z

# Système
.DS_Store
Thumbs.db
desktop.ini
